<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
              <div class="col-sm-2 form-group">
                  <label for="amount">Valor:</label>
                  <input
                      type="number"
                      id="amount"
                      class="form-control"
                      value="200000"
                      #amountInput>
              </div>
              <div class="col-sm-2 form-group">
                  <label for="plots">Parcelas (Meses):</label>
                  <input
                      type="number"
                      id="plots"
                      class="form-control"
                      value="360"
                      #installmentsInput>
              </div>
              <div class="col-sm-2 form-group">
                  <label for="rate">Taxa (a.a.):</label>
                  <input
                      type="number"
                      id="rate"
                      class="form-control"
                      min="0.01"
                      max="99.99"
                      step="0.01"
                      value="6.99"
                      #rateInput/>
              </div>
              <div class="col-sm-2 form-group">
                <label for="total">Total até o fim:</label>
                <input
                    style="color: red; font-weight: bold; text-align: center;"
                    type="text"
                    id="total"
                    class="form-control"
                    [(ngModel)]="total"/>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <button class="btn btn-success" (click)="callCalc()">Calcular</button>
                  <button class="btn btn-warning" (click)="clear()">Limpar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-installments [getInstallments] = "installments"></app-installments>
    </div>
  </div>
</div>

